[submodule "modules/binutils"]
	path = modules/binutils
	url = https://github.com/Pullinux/plx-binutils
[submodule "modules/gcc"]
	path = modules/gcc
	url = https://github.com/Pullinux/plx-gcc
	branch = master
[submodule "modules/linux"]
	path = modules/linux
	url = https://github.com/Pullinux/plx-linux
[submodule "modules/glibc"]
	path = modules/glibc
	url = https://github.com/Pullinux/plx-glibc
	branch = master
[submodule "modules/m4"]
	path = modules/m4
	url = https://github.com/Pullinux/plx-m4
[submodule "modules/ncurses"]
	path = modules/ncurses
	url = https://github.com/Pullinux/plx-ncurses
[submodule "modules/bash"]
	path = modules/bash
	url = https://github.com/Pullinux/plx-bash.git
[submodule "modules/coreutils"]
	path = modules/coreutils
	url = https://github.com/Pullinux/plx-coreutils.git
[submodule "modules/diffutils"]
	path = modules/diffutils
	url = https://github.com/Pullinux/plx-diffutils.git
[submodule "modules/file"]
	path = modules/file
	url = https://github.com/Pullinux/plx-file.git
[submodule "modules/gawk"]
	path = modules/gawk
	url = https://github.com/Pullinux/plx-gawk.git
[submodule "modules/findutils"]
	path = modules/findutils
	url = https://github.com/Pullinux/plx-findutils.git
[submodule "modules/gzip"]
	path = modules/gzip
	url = https://github.com/Pullinux/plx-gzip.git
[submodule "modules/grep"]
	path = modules/grep
	url = https://github.com/Pullinux/plx-grep.git
[submodule "modules/make"]
	path = modules/make
	url = https://github.com/Pullinux/plx-make.git
[submodule "modules/patch"]
	path = modules/patch
	url = https://github.com/Pullinux/plx-patch.git
[submodule "modules/sed"]
	path = modules/sed
	url = https://github.com/Pullinux/plx-sed.git
[submodule "modules/tar"]
	path = modules/tar
	url = https://github.com/Pullinux/plx-tar.git
[submodule "modules/xz"]
	path = modules/xz
	url = https://github.com/Pullinux/plx-xz.git
[submodule "modules/gettext"]
	path = modules/gettext
	url = https://github.com/Pullinux/plx-gettext.git
	branch = master
[submodule "modules/bin-releases"]
	path = modules/bin-releases
	url = https://github.com/Pullinux/plx-bin-releases.git
