[submodule "modules/binutils"]
	path = modules/binutils
	url = https://github.com/Pullinux/plx-binutils
[submodule "modules/gcc"]
	path = modules/gcc
	url = https://github.com/Pullinux/plx-gcc
[submodule "modules/linux"]
	path = modules/linux
	url = https://github.com/Pullinux/plx-linux
[submodule "modules/glibc"]
	path = modules/glibc
	url = https://github.com/Pullinux/plx-glibc
[submodule "modules/m4"]
	path = modules/m4
	url = https://github.com/Pullinux/plx-m4
[submodule "modules/ncurses"]
	path = modules/ncurses
	url = https://github.com/Pullinux/plx-ncurses
[submodule "modules/bash"]
	path = modules/bash
	url = https://github.com/Pullinux/plx-bash.git
